/* BookCatalog.css */

.book-catalog {
    padding: 20px;
}

.search-filter {
    margin-bottom: 20px;
}

.search-filter input, .search-filter select {
    padding: 8px;
    margin-right: 10px;
}

.add-book-form {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.add-book-form h2 {
    margin-bottom: 10px;
}

.add-book-form input {
    margin: 5px;
    padding: 8px;
    width: calc(100% - 20px);
    display: block;
}

.add-book-form button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 16px;
}

.add-book-form button:hover {
    background-color: #218838;
}

.book-list {
    margin-top: 20px;
}

.book-list table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.book-list th, .book-list td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: left;
    transition: background-color 0.3s ease; 
}

.book-list th {
    background-color: #ff7300;
    color: white; 
}

.book-list tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.book-list tr:hover {
    background-color: #ddd; 
}

.book-list button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.book-list button:hover {
    opacity: 0.8;
    transform: scale(1.05); 
}

.book-list button:nth-child(1) {
    background-color: #ff7300;
    border-radius: 15px;
}

.book-list button:nth-child(2) {
    background-color: #dc3545;
    border-radius: 15px;
}

.search-bar {
    width: 50%;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: border-color 0.3s ease;
}

.search-bar:focus {
    border-color: #ff7300;
    outline: none;
}