
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #ff7300;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #ffe6b7;
}

.navbar-logo {
    height: 80px;
    width: auto; 
    margin-left: auto; 
    margin-right: 40px; 
}