/* Header.css */

.navbar {
    background-color: #ff7300;
    padding: 1rem;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #ffcc6c;
}
