.user-management {
    padding: 20px;
}

.search-filter {
    margin-bottom: 20px;
}

.search-filter input, .search-filter select {
    padding: 8px;
    margin-right: 10px;
}

.add-user-form {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}


.add-user-form h2 {
    margin-bottom: 10px;
}

.add-user-form input {
    margin: 5px;
    padding: 8px;
    width: calc(100% - 20px);
    display: block;
}

.acc-status {
    padding: 10px 15px;
    background-color: #ff7300;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 16px;
}

.add-user-form button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 16px;
}

.add-user-form button:hover {
    background-color: #218838;
}

.user-list {
    margin-top: 20px;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-list th, .user-list td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: left;
    transition: background-color 0.3s ease;
}

.user-list th {
    background-color: #ff7300;
    color: white;
}

.user-list tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user-list tr:hover {
    background-color: #ddd;
}

.user-list button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.user-list button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.user-list button:nth-child(1) {
    background-color: #ff7300;
    border-radius: 15px;
}

.user-list button:nth-child(2) {
    background-color: #dc3545;
    border-radius: 15px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: border-color 0.2s;
}

.search-bar:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 8px rgba(102, 175, 233, 0.6);
}