/* UserManagement.css */

.user-management {
    padding: 20px;
}

.search-filter {
    margin-bottom: 20px;
}

.search-filter input, .search-filter select {
    padding: 8px;
    margin-right: 10px;
}

.add-user-form {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.add-user-form h2 {
    margin-bottom: 10px;
}

.add-user-form input {
    margin: 5px;
    padding: 8px;
    width: calc(100% - 20px);
    display: block;
}

.add-user-form button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 16px;
}

.add-user-form button:hover {
    background-color: #218838;
}

.user-list {
    margin-top: 20px;
}

.user-list table {
    width: 100%;
    border-collapse: collapse;
}

.user-list th, .user-list td {
    padding: 10px;
    border: 1px solid #000000;
    text-align: left;
}

.user-list th {
    background-color: #ff7300;
}

.user-list button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.user-list button:hover {
    opacity: 0.8;
}

.user-list button:nth-child(1) {
    background-color: #ff7300;
    border-radius: 15px;
}

.user-list button:nth-child(2) {
    background-color: #dc3545;
    border-radius: 15px;
}

.search-bar {
    width: 50%;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: border-color 0.3s ease;
}

.search-bar:focus {
    border-color: #ff7300;
    outline: none;
}